<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MYDB" connectionString="Data Source=(local);Initial Catalog=MYDB;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DBInstanceName" value="MYDB" />
    <add key="ignoreNoChange" value="false" />
  </appSettings>
</configuration>