################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UDir.XmlDataImport/obj/Debug
/UDir.XmlDataImport.Console/obj/Debug
/packages
/UDir.XmlDataImport/bin/Debug
/UDir.XmlDataImport.Console/bin/Debug
/UDir.XmlDataImport/bin/Release
/UDir.XmlDataImport/obj/Release
/UDir.XmlDataImport.Console/bin/Release
/UDir.XmlDataImport.Console/obj/Release
/.vs/XmlDataImport/v14/.suo
/Udir.XmlDataImport.Test/bin/Debug
/Udir.XmlDataImport.Test/obj/Debug
/.vs/XmlDataImport/v15
TestResults

/Udir.XmlDataImport.Core.Test/obj
/.vs/config/applicationhost.config
/UDir.XmlDataImport/obj
/Udir.XmlDataImport.Core.Test/bin
/Udir.XmlDataImport.Test/bin/Release
/Udir.XmlDataImport.Test/obj/Release
.vscode/tasks.json
.vscode/launch.json
.vs
nuget.exe
